/* nav */
nav {
  background-color: var(--bg-color);
}

/* hero section -background image from transparent textures.com*/
.hero {
  text-align: center;
  background-color: var(--bg-color);
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  padding: 2rem 0 10rem 0;
}

.hero__title {
  font-weight: 900;
  color: var(--primary-color);
}

.hero__description {
  margin: -1rem auto 2rem auto;
}

.hero__terminal {
  width: 60%;
  margin: -11rem auto 3rem auto;
  text-align: left;
  color: white;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: #232323;
  min-height: 350px;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
}

.hero__terminal pre {
  white-space: pre-line;
  padding-top: 1rem;
  font: .9rem monospace;
}



/* project section */
.project {
  display: flex;
  flex-wrap: wrap;
}

.project__item {
  max-width: calc(33% - 20px);
  margin: 0 20px 0 0;
}

.project__item .section__title {
  margin-bottom: 0;
}

.project__item p {
  margin-top: 0.5rem;
}

/* contact section */
.contact {
  margin-top: 3rem;
  display: flex;
  
  
  align-items: center;
}


.contact__detail {
  position: static;
  flex-basis: 50%;
  padding: 2rem 1rem 1rem 1rem;
  line-height: 2rem;
}

.contact__detail:first-child {
  text-align: center;
  padding-right: 1rem;
}

.contact__detail:last-child {
  padding-left: 1rem;
  margin-left: -1px;
}

/* form */
.input {
  color:var(--primary-color);
  font-family: 'Nunito Sans', sans-serif;  
  line-height: 22px;
  background-color: transparent;
  border:2px solid var(--primary-color);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
}

.input:focus { 
  border:2px solid var(--accent-color); 
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  padding: 10px 22px;
  border: 2px solid var(--primary-color);
  transition: all 0.5s ease-out;
  font-family: 'Nunito Sans', sans-serif;  
}

[type="submit"]:hover { 
  border-color: var(--accent-color);
  color: var(--accent-color); 
}




/* resume section */
.resume {
  text-align: center;
  display: block;
  padding: 1rem 0 3rem 0;
}

.resume .button--primary {
  display: inline-block;
  margin-top: 0.5rem;
}



/* contact section */
.contact__section {
  background-color: var(--bg-color);
  padding: 2rem 0;
}

.contact__section__item {
  display: flex;
}


.small {
  height: 400px;
  border-radius: 4px;
  width: auto;
}



@media (max-width: 750px) {
  .hero__terminal {
    width: 70%;
  }

  .hero__terminal pre {
    font-size: .5rem;
  }
  
  .project, .contact, .contact__section__item {
    flex-direction: column;
  }
  .project__item {
    max-width: 100%;
    margin: 0;
  }
  .contact {
    font-size: 0.8rem;
  }
}